@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

body {
  /* width: 800px; */
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: #1d1d1f;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography
  ====================== */
h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  line-height: 100px;
  color: #999;
}

h2 {
  color: #00688a;
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
}

h3 {
  color: #00688a;
  font-size: 1.75rem;
}

li {
  list-style: none;
}

a {
  color: #00688a;
  text-decoration: underline dotted;
}

/* title box
  ====================== */
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.rainbow p {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #00688a;
}

.rainbow {
  position: relative;
  z-index: 0;
  width: 550px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}

.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#999)), -webkit-gradient(linear, left top, left bottom, from(#777), to(#999)), -webkit-gradient(linear, left top, left bottom, from(#777), to(#999)), -webkit-gradient(linear, left top, left bottom, from(#777), to(#999));
  background-image: linear-gradient(#777, #999), linear-gradient(#777, #999), linear-gradient(#777, #999), linear-gradient(#777, #999);
  -webkit-animation: rotate 7s linear infinite;
  animation: rotate 7s linear infinite;
}

.rainbow::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .rainbow {
    width: 300px;
    height: 120px;
  }

  .rainbow p {
    padding: 10px;
    font-size: 3rem;
  }

  h1 {
    padding-top: 80px;
    font-size: 3rem;
    line-height: 50px;
  }
}

/* buttons
  ====================== */
.draw-border {
  -webkit-box-shadow: inset 0 0 0 4px white;
  box-shadow: inset 0 0 0 4px white;
  color: white;
  color: #777;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #00688a;
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: #00688a;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  border-radius: 4px;
  margin: 11px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Raleway', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.btn:focus {
  outline: 2px dotted #00688a;
}

/* body
  ====================== */
.top {
  background-color: #00688a;
  position: fixed;
  margin: 0;
  padding: 5px;
  color: #1D1D1D;
  font-size: 1.5rem;
  width: 100%;
  top: 0;
  z-index: 3;
}

#GFG_UP {
  display: none;
}

#GFG_UP2 {
  display: none;
}

.code {
  color: #292929;
  font-size: 1.2rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  width: 800px;
  border-bottom: 8px solid #999;
  height: 300px;
  opacity: 0.8;
}

.theme {
  margin-left: auto;
  margin-right: auto;
  background-color: #292929;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  width: 800px;
  border-bottom: 30px solid #00688a;
  height: 600px;
}

.theme:hover {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-box-shadow: 0px 2px 10px #00688a;
  box-shadow: 0px 2px 10px #00688a;
}

.code:hover {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-box-shadow: 0px 2px 10px #00688a;
  box-shadow: 0px 2px 10px #00688a;
}

footer {
  background-color: black;
  width: 100%;
  padding: 10px;
  bottom: 0px;
  /* margin: 50px 0; */
  /* border-radius: 4px; */
  color: white;
}

/* flexbox
  ====================== */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  margin-top: 100px;
}

.row p {
  font-size: 1.5rem;
  margin: 50px;
}

.theme {
  width: 500px;
}

.code {
  width: 300px;
  padding: 0 0 0 24px;
  text-align: left;
}

@media (max-width: 1000px) {
  .column {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 1000px) {
  .column {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .code {
    width: 350px;
  }

  .theme {
    width: 350px;
  }

  .row p {
    font-size: 1rem;
    margin: 20px;
  }

  .top {
    font-size: 1rem;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px white;
  box-shadow: inset 0 0 5px white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  /* background: #00688a; */
  background-color: #7777;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content {
  background-color: white;
  margin: auto auto;
  padding: 20px;
  border: 1px solid #00688a;
  width: 80%;
  margin-top: 5%;
  outline: 20px solid #00688a;
  outline-offset: -50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-content p {
  font-size: 1.5rem;
  padding: 20px;
  margin: 50px;
  text-align: left;
}

@media (max-width: 1000px) {
  .modal-content {
    outline: none;
  }

  .modal-content p {
    font-size: 1rem;
    padding: 20px;
    margin: 0px;
  }
}

/* sourceMappingURL=style.css.map */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 1s;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: max-content;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

.blurred-box {
  width: 250px;
  height: 250px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  background: #2222;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0.8;
  margin: 0 auto;
  padding: 0 0 0 24px;
  text-align: left;
}

.blurred-box:after {
  content: '';
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -25px;
  left position right: 0;
  top: -25px;
  top position bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

/* Checkboxes styles */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  /* color: #999; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"]+label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #628B48;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
  width: 10px;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.password-display {
  color: #1d1d1f;
}

button, input, optgroup, select, textarea {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-size: 32px;
  height: 48px;
  width: 450px;
}


/* Icons */

ion-icon {
  font-size: 2.4rem;
}
